body {
    background-color: #000000;
    background-image: url("./content/spacee-2060x1288.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 310px 5px;
}

.NASA {
    display: flex;
    justify-content: center;
    width: 400px;
    background-color: #000000f8;
}

.TITLE {
    font-size: 2rem;
    text-align: center;
    color: aliceblue;
}

.SHUTTLE {
    display: flex;
}

.EXPLANATION {
    text-indent: 15px;
    padding-bottom: 20px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 16px;
    color: aliceblue;
}

.DATE {
    text-align: center;
    font-size: 14px;
    color: aliceblue;
}